.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.close-icon {
  display: none;
}
.menu-btn.panel-open .three-line-icon {
  display: none;
}

.menu-btn.panel-open .close-icon {
  display: inline;
}
.side-panel {
  position: fixed;
  top: 50px;
  left: 0;
  width: 250px;
  height: calc(100vh - 50px);
  background: #d4d4d4;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.side-panel.panel-open {
  transform: translateX(0);
}